.login{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color:orange;
}

.login Form{
    width:500px;
    max-width: 100%;
}
.box{
    background-color:blue;
    display:flex;
    justify-content:center;
    
}