.login{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    
    margin-top:50px;
    margin-left:200px;
    width:150vh;
    
    
}

.login Form{
    width:500px;
    max-width: 100%;
}
.box{
    width:150vh;
    height:400px;
    background-color:white;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    padding:15px;
    border: 2px solid black;
    border-radius: 5px;
    
    
}
.form-login{
   
}
.cadastro{
    
}